{% extends 'layout/layout.html' %}
{% block title %}
 - {{playlist}}
{% endblock %}

{% block main %}

<div class="content">
    <div class="playlist-header">
        <h2>{{playlist}}</h2>
    </div>
    <div class="search">
        <div class="search-form">
            <form class="search-form" method="POST" novalidate>
                {{search_form.csrf_token}}
                <div class="search-form-input">
                    {{search_form.search_field}}
                    {{search_form.search_button}}
                </div>
            </form>
        </div>
    </div>
    {% if search_form.search_field.data != None  and search_form.search_field.data.strip() != ""%}
        <div class="search-response">
            <h2>Searching for: '{{search_form.search_field.data}}'</h2>
        </div>
    {% endif %}
    <div class="catalogue-list">
        {% for track in tracks %}
            <div class="catalogue-row">
                <div class="catalogue-item">
                    <a href="{{url_for('home_bp.home', key=track.key, url=track.url)}}"><h2>{{track.title}}{% if track.key != 'None'%}
                        - {{track.key.title()}}
                        {%endif%}</h2></a>
                </div>
                {% if "user" in session %}
                    <div class="catalogue-item" id="catalogue-selector-container">
                        <select class="catalogue-playlist-select">
                            <option value="" disabled selected hidden>+</option>
                            {% for playlists_item in playlists %}
                            <option onclick='add_to_playlist("{{playlists_item.title}}", "{{track.id}}")'>{{playlists_item.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

<script>

    function add_to_playlist(playlist_title, track_id){
        entry = {
            playlist_title:playlist_title,
            track_id:track_id
        }
        console.log(entry);
        fetch("{{url_for('playlists_bp.add_track')}}", {
            method: 'POST',
            credentials: 'include',
            headers: {
                "content-type": "application/json"
            },
            body: JSON.stringify(entry),
            cache: 'no-cache'
        })
    }

</script>
{% endblock %}