{% extends 'layout/layout.html' %}
{% block title %}
 - Playlists
{% endblock %}

{% block main %}
<div class="content">
    <div class="search">
        <div class="search-form">
            <form class="search-form" method="POST" novalidate>
                {{search_form.csrf_token}}
                <div class="search-form-input">
                    {{search_form.search_field}}
                    {{search_form.search_button}}
                </div>
            </form>
        </div>
    </div>
    <div class="create">
        <div class="create-form">
            <form class="create-form", method="POST" novalidate>
                <h2>Create Playlist</h2>
                {{create_form.csrf_token}}
                <div class = "create-form-input">
                    {{create_form.name_field}}
                    {{create_form.create_button}}
                </div>
            </form>
        </div>
    </div>
    {% if search_form.search_field.data != None and search_form.search_field.data.strip() != "" %}
        <div class="search-response">
            <h2>Searching for: '{{search_form.search_field.data}}'</h2>
        </div>
    {% endif %}
    <div class="playlist-list">
        {% for playlist in playlists %}
            <div class="playlist-item">
                <a href='{{url_for("playlists_bp.playlist", playlist=playlist.title)}}'><h2>{{playlist.title}}</h2></a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}