{% extends 'layout/layout.html' %}
{% block title %}
 - Home
{% endblock %}
{% block main %}
    <div class="content">
        <div class="search">
            <form class="search-form" method="POST" novalidate>
                {{search_form.csrf_token}}
                {{search_form.search_field}}
                {{search_form.search_button}}
            </form>
        </div>
        <div class="results">
            {% if url != None %}
                <iframe src={{url}}></iframe>
            {% endif %}
                <h2 class="results">
                    {% if search_form.search_field.data != None%}
                        The Key of '{{search_form.search_field.data}}'
                        {%if key == 'NotFound'%}
                            cannot be found.
                        {% else %}
                            is: {{key}}
                        {% endif %}
                    {% endif %}
                    
                </h2>
        </div>    
    </div>
{% endblock %}