{% extends 'layout/layout.html' %}
{% block title %}
 - Home
{% endblock %}
{% block main %}
    <div class="content">
        <div class="search">
            <form class="search-form" method="POST" novalidate>
                {{search_form.csrf_token}}
                <div class="search-form-input">
                    {{search_form.search_field}}
                    {{search_form.search_button}}
                </div>
                <div class="search-form-checkboxes">
                    <div class="checkbox-container">
                        <div class="checkbox-container-item">
                            Get Key:
                        </div>
                        <div class="checkbox-container-item">
                            {{search_form.key_boolean}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="results">
            {% if url != None %}
                <iframe src={{url}}></iframe>
            {% endif %}
                <h2 class="results">
                    {% if search_form.search_field.data != None and key != None%}
                        The key of '{{search_form.search_field.data}}'
                        {%if key == ""%}
                            cannot be found.
                        {% else %}
                            is: {{key.title()}}
                        {% endif %}
                    {% endif %}
                    
                </h2>
        </div>    
    </div>
{% endblock %}