html{
    background-image: linear-gradient(to bottom right,red 1%, crimson 20%, purple, aqua);
    margin: 0%;
    padding: 0%;

    background-size: 150% 150%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
    text-align: center;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

*{
    font-family: 'Calibri', 'Calibri Light', 'Arial';
    overflow: hidden;
}


body{
    margin: 0%;
    padding: 0%;
    background-color: transparent;
    min-height: 100vh;
    min-width: 100vw;
}

.heading{
    margin: 0%;
    padding: 0%;
    background-color: transparent;
    min-height: 2.5rem;
    padding-left: 1rem;
}
h1{
    margin: 0%;
    padding: 0%;
    color: white;
    font-size: 3vw;
    font-weight: bold;
}
.content{
    margin: 0%;
    padding: 0%;
    background-color: transparent;
    height: calc(100vh - 2.5rem);
    font-size: 0px;
}
.search{
    margin: 0%;
    padding: 2rem 0rem 2rem 1rem;
    background-color: transparent;
    
}
form{
    margin: 0%;
    padding: 0%;
}
.search-form{
    margin: 0%;
    padding: 0%;
}
.search-form-input{
    margin: 0%;
    padding: 0%;
}
.search-form-checkboxes{
    margin: 0%;
    padding: 0%;
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.6);
    padding: 1rem;
}
.checkbox-container{
    justify-content: center;
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-columns: max-content max-content;
}
.checkbox-container-item{
    padding: 0rem 0.5rem 0rem 0.5rem;
    font-size: 1.2vw;
}

p{
    color: white;
    margin: 0%;
    padding: 0%;
}
h2{
    font-size: 30px;
    margin: 0%;
    color: white;
}
input{
    margin: 0%;
    padding: 0%;
    background-color: rgba(0, 0, 0, 0.0);

    border-style: solid;
    border-color: rgba(255,255,255,0.2);
    border-radius: 0.5rem;
    border-width: 0.2rem;
    color: white;
    padding: 0.5rem;
    font-size: 1.5vw;
    transition: background-color 0.3s;
    transition: border-color 0.3s;

}
input:focus{
    outline: none;
}
input:hover{
    background-color: rgba(0,0,0,0.5);
    border-color: rgba(255, 255, 255, 0.8);
}



input[type=text]{
    margin-right: 1.5rem;
    color: rgba(255, 255, 255, 0.6);

}

input[type=text]::placeholder{
    color: rgba(255, 255, 255, 0.6);
}

input[type=submit]{
    margin-left: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

input[type=checkbox]{
    -moz-appearance: none;
    min-height: 0.5vw;
    min-width: 0.5vw;

}
input[type=checkbox]:checked{
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 1);
}

.results{
    margin: 0%;
    padding: 0%;
    background-color: transparent;
    height: calc(100vh - 2.5rem - 4rem - 1.25rem);
    text-align: center;

    h2{
        margin-top: 1rem;
    }

}
iframe{
    margin: 0%;
    padding: 0%;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.5rem;
    border-color: rgba(255, 255, 255, 0.6);
    width: 50vw;
    height: 21.43vw;
    
    transition: border-color 0.3s;
}

iframe:hover{
    border-color: rgba(255,255,255,1)
}

.nav-container{
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}
.nav-item{
    margin: 0%;
    padding: 1vw;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1vw;
    border-style: solid;
    border-color: rgba(255,255,255,0.2);
    background-color: rgba(0, 0, 0, 0.0);
    transition: background-color 0.3s;
    transition: border-color 0.3s;
}

.nav-item:hover{
    background-color: rgba(0,0,0,0.5);
    border-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    color: rgba(255,255,255,1);
}

.login-url{
    color: inherit;
    text-decoration: none;
    display:block;
    height: 100%;
    width: 100%;
}